<div class="home-container">
    <h1>E-BIKE SITE STORE</h1>
    <img src="https://cdn2.iconfinder.com/data/icons/ecology-173/100/e-bike-ecology-electric-vehicles-transport-bicycle-byke-flash-thunderbolt-sign-256.png"
        alt="Store logo">
    <div class="short-desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente corporis suscipit tempore aspernatur amet
        magnam iure, accusantium maiores officia asperiores ut minima excepturi consectetur quod ipsum saepe!
        Voluptatem, ut porro?
    </div>
</div>