<footer>
    <div class="info">
        
        <!-- <div class="some-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, sed! Porro, sequi reprehenderit.
            Voluptates asperiores ab ex, reiciendis eveniet perspiciatis ducimus voluptatibus fugit laboriosam quibusdam
            amet deleniti odit aspernatur corrupti!
        </div> -->
        <div class="copyright">
            Build with Angular and NodeJS.<br /> Hosted on Heroku.<br />
            Copyright 2020 Toma Iliev
        </div>
    </div>
</footer>