<header color="primary">
    <div class="container">
        <button mat-button routerLink="/">
            <img src="https://cdn2.iconfinder.com/data/icons/ecology-173/100/e-bike-ecology-electric-vehicles-transport-bicycle-byke-flash-thunderbolt-sign-32.png" alt="Store logo">
        </button>    
    </div>

    <div class="container left">
        <button mat-button routerLink="/">Home</button>
        <button mat-button routerLink="/about">About</button>
        <button mat-button routerLink="/ebikes/list">E-bikes</button>
        <button mat-button routerLink="/ebikes/sell">Sell</button>
        <button mat-button routerLink="/contact">Contact</button>
    </div>

    <div class="container right">
        <button mat-button [matMenuTriggerFor]="userMenu">
            <mat-icon aria-hidden="false" aria-label="profile icon">person</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
            <div *ngIf="!isLoggedIn">
                <button mat-menu-item routerLink="/user/login">Login</button>
                <button mat-menu-item routerLink="/user/register">Register</button>
            </div>
            <div *ngIf="isLoggedIn">
                <button mat-menu-item [routerLink]="['/user/profile', 1]">Profile</button>
                <button mat-menu-item [routerLink]="['/user/wishlist', 1]">Wishlist</button>
            </div>
        </mat-menu>
        <button mat-button [disabled]="!hasCart" [routerLink]="['/user/cart', 1]"> 
            <mat-icon aria-hidden="false" aria-label="shopping cart icon">shopping_cart</mat-icon>
        </button>
    </div>

</header>