@media screen and (max-width: 1280px) {
    button.responsive-menu {
        display: block;
    }

    div.container.left {
        display: none;
    }

    div.container.left.open {
        display: block;
        justify-self: center;
    }

    div.container.left.open>button {
        display: block;
    }

    button.home-icon {
        display: none;
    }
}


header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    background-color: aquamarine;
    min-height: 60px;
}
/* div a {
    text-decoration: none;
    color: azure;
    font-size: 15px;
} */

.container.left{
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 30%;
}

.responsive-menu {
    display: none;
}




