<ng-template #nameEditMode>
    <div>
        <input #newName matInput type="text" value="{{user.name}}">
    </div>
    <div>
        <button mat-raised-button color="link" (click)="toggleNameEdit()">Cancel</button>
        <button mat-raised-button color="link" (click)="updateName(newName.value)"
            [disabled]="newName.value.length < 3">Save</button>
    </div>
</ng-template>
<ng-template #nameNormalMode>
    <div>{{user.name}}</div>
    <div>
        <button mat-raised-button color="link" (click)="toggleNameEdit()">Edit</button>
    </div>
</ng-template>

<div class="spacer">
</div>
<div class="profile-container" *ngIf="user">
    <div class="avatar">
        <img src="../../../assets/profile.svg" alt="">
    </div>
    <div class="container">
        <mat-divider></mat-divider>
        <div class="row">
            <div>Name:</div>
            <ng-container *ngTemplateOutlet="editingName? nameEditMode : nameNormalMode"></ng-container>

        </div>
        <mat-divider></mat-divider>
        <div class="row">
            <div>Email:</div>
            <div>{{user.email}}</div>
            <div></div>
        </div>
        <mat-divider></mat-divider>
        <div class="row" *ngIf="user.selling.length > 0">
            <div>Selling:</div>
            <div>{{user.selling | stringSlicer}}</div>
            <div>
                <button mat-raised-button color="link" [routerLink]="['/user/myebikes', user._id]">See all</button>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row" *ngIf="user.cart.length > 0">
            <div>Cart:</div>
            <div>{{user.cart | stringSlicer}}</div>
            <div>
                <button mat-raised-button color="link" [routerLink]="['/user/cart', user._id]">View cart</button>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row" *ngIf="user.wishlist.length > 0">
            <div>Wishlist:</div>
            <div>{{user.wishlist | stringSlicer}}</div>
            <div>
                <button mat-raised-button color="link" [routerLink]="['/user/wishlist', user._id]">View
                    wishlist</button>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row" *ngIf="user.owned.length > 0">
            <div>Owned:</div>
            <div>{{user.owned | stringSlicer}}</div>
            <div>
                <button mat-raised-button color="link" [routerLink]="['/user/myebikes', user._id]">See all</button>
            </div>
        </div>
    </div>
</div>

<app-loading *ngIf="!user"></app-loading>