<div class="spacer">
    <div class="load" *ngIf="!user">Loading</div>
</div>

<ng-template #withCart>
    <app-table [columns]="columns" [user]="user" [userProp]="'cart'" (updated)="updateUser($event)"></app-table>
</ng-template>

<ng-template #noContent>
    No items in your cart. Add some from our <a routerLink="/ebikes/list">store</a>
</ng-template>

<ng-template #withoutCart>
    <app-no-content [content]="noContent"></app-no-content>
</ng-template>

<div class="cart-container" *ngIf="user">
    <div class="items-section">
        <ng-container *ngTemplateOutlet="user.cart.length > 0 ? withCart : withoutCart"></ng-container>
    </div>
    <div class="checkout-section">
        <h2>Total: ${{total}}</h2>
        <button mat-stroked-button [disabled]="user.cart.length === 0" (click)="handleEmptyCart()">Empty cart</button>
        <button mat-raised-button color="primary" [disabled]="user.cart.length === 0" (click)="handleCheckout()">Checkout</button>
    </div>
</div>