.spacer {
    height: 50px;
}

.cart-container {
    width: 95%;
    min-height: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 100%;
}

.items-section {
    grid-column: 1/span 1;
    background-color: #fff;
    color: rgb(22, 22, 22)
}

.checkout-section {
    grid-column: 2/span 1;
    background-color: #000;
    color: rgb(240, 255, 247);
    text-align: end;
    padding: 10px;
}

.checkout-section>button {
    margin: 10px;
}

.checkout-section>h2 {
    margin: 10px;
}

a {
    color: royalblue;
    text-decoration: none;
} 
