<ng-template #withList>
    <div class="items-section">
        <app-table [columns]="columns" [user]="user" [userProp]="'wishlist'" (updated)="handleUpdate($event)"></app-table>
    </div>
</ng-template>

<ng-template #noContent>No Items in your list. Find some <a routerLink="/ebikes/list">sweet rides</a></ng-template>

<ng-template #withoutList>
    <app-no-content [content]="noContent">
    </app-no-content>
</ng-template>

<div class="spacer">
    <div class="load" *ngIf="!user">Loading</div>
</div>
<div class="wishlist-container" *ngIf="user">
    <ng-container *ngTemplateOutlet="user.wishlist.length > 0 ? withList : withoutList"></ng-container>
</div>