<div class="about-container">
    <div class="content">
        <h1>About us</h1>
        <div class="text">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure, voluptatem dicta, harum similique dolore itaque
                unde vero, inventore pariatur exercitationem ex perferendis minus modi natus qui quam est deleniti? Inventore!
            </p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis vel maiores dolorum quidem, suscipit eos hic
                totam aliquam ea voluptatibus reprehenderit corrupti, odit reiciendis laborum, sequi aut iure vero nulla.
            </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam delectus amet explicabo ullam dolorem quod
                eveniet illo, exercitationem praesentium! Cum assumenda ipsum, error obcaecati dolorum nemo, ipsam itaque
                doloremque at corporis eius. Suscipit, dolorum commodi adipisci explicabo, minus iure aliquam provident corporis
                optio quisquam tenetur repellendus officia molestiae fuga blanditiis assumenda officiis eaque, dolores nihil
                cum! Odio deleniti ducimus commodi.
            </p>
        </div>
    </div>
</div>