.login-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 150px auto 100px;
}

h1 {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    justify-self: center;
    align-self: end;
    color: azure;
    font-weight: bold;
    font-size: 36px;
}

form {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    justify-self: center;
    align-self: center;
    background-color: #ffffff;
    min-height: 250px;
    padding: 50px;
    border-radius: 5px;
    position: relative;
}

form>mat-form-field {
    display: block;
    margin-bottom: 12px;
}

form>button{
    position: absolute;
    left: 33%;
    bottom: 20%;
}

.register-prompt {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
    align-self: center;
    justify-self: center;
    font-size: 16px;
}