<ng-template #anyUser>
    <button mat-flat-button color="primary" (click)="addToCart()" [disabled]="isInCart">Add to cart</button>
    <button mat-flat-button color="primary" (click)="addToWishlist()" [disabled]="isInWishlist">Add to wishlist</button>
</ng-template>

<ng-template #noUser>
    <div>Please <a routerLink="/user/login">Login</a> to see available actions</div>
</ng-template>

<ng-template #seller>
    <div>You are this bike's seller</div>
    <button mat-flat-button color="primary" [routerLink]="['/user/myebikes', user._id]">See all</button>
</ng-template>

<app-loading *ngIf="!ebike"></app-loading>

<div class="details-container" *ngIf="!!ebike">
    <div class="titles">
        <h1>{{ebike.brand}}</h1>
        <h3>{{ebike.model}}</h3>
    </div>
    <img src="{{ebike.imageUrl}}" alt="">
    <mat-accordion multi="true">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Price
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>${{ebike.price}}</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Description
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{ebike.description}}</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Actions
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-action-row>
                <ng-container *ngTemplateOutlet="!user ? noUser : user && user._id !== ebike.creatorId ? anyUser : seller"></ng-container>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</div>

